/* Css Code goes Here for Home page */

body {
	background-color: #998977;
	background-repeat: no-repeat;

}

/*  Begining Transparent Nav bar CSS CODE */

#nav {
	width:1380px;
	height:310px;
	background-image:url(/Users/rajkiran/Downloads/APPLE PARTITIONS/APPLE B/Projects/Smart India Hackathon 2017/Hemanth/last.jpg);
	background-size: cover;
	margin-left: -23px; 
	margin-top: -10px;
	
}
#nav_wrapper {
	height:70px;
	width:900px;
	background: rgb(220, 107, 107);
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	opacity: 0.6;
	border-radius: 15px;
	position: relative;
	left:40px;

}

#nav_wrapper ul li {
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 12px;
	font-style: italic;
	font-weight: bold;
	color: white;
}
#nav_wrapper a {
	color: white;
	text-decoration: none;
	padding:30px;
}
#nav_wrapper ul li.hover{
	background-color: red;
	transition: all 0.45s;
	opacity: 0.5;
	filter: alpha(opacity=90);
}
/* end of Transparent Nav bar CSS CODE */ 

#divider {
	background-color:skyblue;
	color: #000000;
	height: 40px;
	width:1360px;
	border-radius: none;
	margin-top: -21px;
	margin-left: -10px;
	font-size: 10px;
} 

#box {
    background-color: lightgrey;
    width: 700px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    height: fixed;
}

#footer {
	width: 1350px;
	height: 60px;
	padding-bottom: 10px;
	background-color:skyblue;
	border-radius: 5px;
	color: #000000;
	margin-top: -43px;
	margin-left: 0px;

}

